.row
	.col-sm-offset-4.col-sm-3.col-xs-8
		= link_to user_path(current_user) do
			%p.tk-swingdancer{:style => "color: #fff;font-size:2em; padding:18px 0 0px 10px;text-decoration:none; "} feel
	.col-sm-1.col-xs-4.right{:style => "padding: 10px 5px 0px;"}

		.dropdown
			%button#dropdownMenu1.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button",:class => "btn btn-default", :style => "color:#fff;background-color:#58CEEE; border-color:#fff;border-width: 0px; font-size:1.7em; ",}
				%span.glyphicon.glyphicon-th-list
			%ul.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenu1", :role => "menu"}
				%li{:role => "presentation"}
					%a{:href => user_path(current_user), :role => "menuitem", :tabindex => "-1"} Home
				%li{:role => "presentation"}
					%a{:href => howitworks_path, :role => "menuitem", :tabindex => "-1"} How it Works
				%li{:role => "presentation"}
					%a{:href => edit_user_path(current_user), :role => "menuitem", :tabindex => "-1"} Edit Profile
				%li{:role => "presentation"}
					%a{:href => first_path, :role => "menuitem", :tabindex => "-1"} Save Contact
				- if current_user.id == 1
					%li{:role => "presentation"}
						%a{:href => '/users/1/admin', :role => "menuitem", :tabindex => "-1"} Admin
					%li{:role => "presentation"}
						%a{:href => new_rating_path, :role => "menuitem", :tabindex => "-1"} Record a call
					%li{:role => "presentation"}
						%a{:href => ratings_path, :role => "menuitem", :tabindex => "-1"} View all ratings
				%li.divider{:role => "presentation"}
				%li{:role => "presentation"}
					%a{:href => signout_path, :role => "menuitem", :tabindex => "-1"} Sign Out
			



.row
	.col-md-4.col-md-offset-4.center
		- if @user.phone && @user.nick && @user.approved
			%h3.tk-freight-sans-pro{:style => "color: #fff; padding-bottom:5px;font-size:2.5em;"} Hello #{@user.nick}
			%p.center{:style => "color: #fff; padding-bottom:0px;font-size:.8em;line-height:.1em;text-decoration:underline;"} 
				%b STATUS 
			%p.center{:style => "color: #fff; padding-bottom:20px;font-size:.9em;"} Community Member 
			.row
				.col-xs-12.center
					%p.center{:style => "color: #fff; font-size:6em;line-height:80px;"}= @mycount
					%p{:style => "color: #fff; line-height:26px;margin:0; font-size:1.2em"}Connections Made


			
			%p{:style => "padding-top:40px;"}
				= link_to twilio_call_path , :class => "btn btn-default btn-lg", :style => "color:#fff;background-color:#37EC47; border-color:#fff;border-width: 2px; font-size:1.7em; width:190px;padding-right:30px;" do
					%span.glyphicon.glyphicon-earphone
					Connect
			

		- elsif @user.phone && @user.nick
			%h3.tk-freight-sans-pro{:style => "color: #fff; padding-bottom:5px;font-size:2.5em;"} Great job #{@user.nick}!
			%p{:style => "color: #fff; padding:20px 20px 15px 20px; text-align:left;font-size:1.2em;"}  
				%b Next step is to call a welcomer.
			%p{:style => "color: #fff; padding:0px 20px 25px 20px; text-align:left;font-size:1.2em;"}
				It will be a 10 min phone call and afterwards you will get access to the community.
			%p= link_to "How it Works", howitworks_path, :class => "btn btn-default btn-lg", :style => "color:#fff;background-color:#58CEEE; border-color:#fff;border-width: 2px; font-size:1.3em;;width:190px "
			%p
				= link_to "Call Welcomer" , twilio_welcome_path , :class => "btn btn-default btn-lg", :style => "color:#fff;background-color:#37EC47; border-color:#fff;border-width: 2px; font-size:1.7em;width:190px "

		- else
			%h3.tk-freight-sans-pro{:style => "color: #fff; padding-bottom:5px;font-size:2.5em;"}Welcome! 
			%p{:style => "color: #fff; padding:20px 20px 15px 20px; text-align:left;font-size:1.2em;"}  
				%b First step is to creat a profile.
			%p{:style => "color: #fff; padding:0 20px 25px 20px; text-align:left;font-size:1.2em;"}   
				This includes your "Nick Name" which you will use when connecting. This can be your name or any name you like. 
			%p
				= link_to "How it Works", howitworks_path, :class => "btn btn-default btn-lg", :style => "color:#fff;background-color:#58CEEE; border-color:#fff;border-width: 2px; font-size:1.3em; width:190px; "
			%p
				= link_to "Create Profile", edit_user_path(@user), :class => "btn btn-default btn-lg", :style => "color:#fff;background-color:#37EC47; border-color:#fff;border-width: 2px; font-size:1.7em; width:190px; "