.row
	.col-md-4.col-md-offset-4
		.center
			%h1{:style => "color:#fff"}
				= @ratings.count
				Calls Made
		%table{:style => "width: 100%;color:#fff"}
			%tr
				%th Success
				%th Safety
				%th Favorite
				%th User
				%th Created

			- @ratings.each do |rating|
				%tr
					%td= rating.success
					%td= rating.safety
					%td= rating.favorite
					%td= rating.user_id
					%td= time_ago_in_words(rating.created_at)